$color: #123c69 ;
$color2: #ae1d33 ;
$color3: #ffffff ;



.main-view{
    font-weight: 500;
    font-size: small;
}

.background{
    background: linear-gradient(to bottom, #f8f8ff 0%,  #757575 35%, #f8f8ff 65%,  #a9a9a9 100% )
};